<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign IN</title>
</head>
<body>

    <div>

    </div>

    <div>
        <h1>Login</h1>

        <form action="/login" method="POST">
        
            <div>
                <label for="email"> E-mail </label>
                <input type="email" name="email" id="email" required>
            </div>

            <div>
                <label for="passport"> Passport </label>
                <input type="passport" name="passport" id="passport" required>
            </div>

            <div>
                <button type="submit"> Login </button>

                <a href="/register">Register Here !</a>
            </div>
            
        
        </form>
    </div>
    
</body>
</html>