<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign IN</title>
</head>
<body>

    <div>

    </div>

    <div>
        <h1>Register</h1>

        <form action="/register" method="POST">
        
            <div>
                <label for="email"> E-mail </label>
                <input type="email" name="email" id="email" required>
            </div>

            <div>
                <label for="username"> Username </label>
                <input type="text" name="username" id="username" required>
            </div>

            <div>
                <label for="password"> Password </label>
                <input type="password" name="password" id="password" required>
            </div>

            <div>
                <button type="submit"> Register </button>

                <a href="/login"> Already Registered !</a>
            </div>
            
        
        </form>
    </div>
    
</body>
</html>